
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width:992px){
   
    .bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .next-bg {
        position: relative;
        display: flex;
    }
    .progresss-right {
        margin: auto;
        width: 565px;
        height: 480px;
        margin-bottom: 20px;
    }
    .total-project {
        background-color: rgba(0,144,161,255);
        border-radius: 5px;
        margin: 0px auto;
        height: 192px;
        width: 300px;
    }
    .bg {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .next-bgg {
        width: 100%;
        position: relative;
    }
    .bg img {
        height: 500px;
        width: 100%;
    }
    .opacity {
        position: absolute;
        top: 0;
        left: 0;
        height: 500px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(26, 83, 255,.6), rgba(0,144,161,255));
        z-index: 10;
    }
    
.opacity:hover::before{
    width: 100%;
}
.opacity:hover::after{
    height: 100%;
}

.up-top-menu ul li {
    margin: 0px 20px;
    list-style: none;
    position: relative;
}
.up-top-menu ul li ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 204, 255);
    padding: 10px 10px;
    height: 450px;
    width: 150px;
    overflow-y: scroll;
    display: none;
    z-index: 55;
}
.up-top-menu ul li ul li {
    margin: 5px 5px;
}
.up-top-menu ul li ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin: 0px 3px;
    border-radius: 8px;
    color: black;
}
i.fas.fa-check-circle {
    color: rgb(51, 51, 255);
    font-size: 10px;
}
.up-top-p p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
}

.facebook {
    margin: 0 15px;
}

.top {
    display: inline-block;
    background: linear-gradient(160deg,   rgb(0, 0, 0)50%, rgba(46,44,116,255) 50%);
    border-radius: 10px;
}
h2#dev {
    color: white;
    display: inline-block;
}
span#bs {
    color: white;
}
h2#mas {
    color: white;
    display: block;
}
.contrac-form {
    margin: 0;
    padding: 5px;
    display: flex;
    border: none;
    position: sticky;
    top: 0px;
    z-index: 50;
    background-color: white;
}
img.dai-bg {
    height: 300px;
    width: 400px;
}

.opacty.dai-op {
    height: 300px;
    width: 400px;
}

.opacty.dai-op {
    height: 300px;
    width: 400px;
}

img.dai-bg {
    height: 300px;
    width: 400px;
}
.total-project {
    background-color: rgba(0,144,161,255);
    border-radius: 5px;
    margin: 0px auto;
    height: 300px;
}
.progresss-right {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.progress.cmn {
    display: block;
    background-color: rgba(0,144,161,255);
    border-radius: 5px;
    margin: 10px 10px;
    height: 300px;
    width: 600px;
}
.myself {
    display: block;
    background-color: rgba(0,144,161,255);
    border-radius: 5px;
    margin: 10px 0px;
    height: 300px;
    width: 800px;
}
h1.xx {
    background-color: transparent;
    text-align: left;
    background-color: salmon;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 20px;
}
h1.xy {
    background-color: transparent;
    text-align: left;
    display: inline-block;
    font-size: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
p.are {
    margin: 20px 0px;
    color: white;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
h1.web {
    background-color: transparent;
    color: salmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
h1.what {
    background-color: transparent;
    color: salmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
p.the {
    margin: 20px 0px;
    color: white;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.middle-opacity {
    position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    width: 100%;
    background: rgba(0, 0, 179,.6);
    display: flex;
    justify-content: space-around;
}
.photo {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 50px;
    margin: 0px 60px;
    margin-top: 80px;
   
}

.logo img {
    height: 40px;
    width: 150px;
    flex-basis: 15%;
    color: rgb(195, 0, 255);
}
a#face1 {
    text-decoration: none;
    padding: 8px 30px;
    color: gray;
    background-color: rgba(204,237,0,255);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: 1s;
}
a#face2 {
    text-decoration: none;
    padding: 8px 30px;
    color: gray;
    background-color: rgba(204,237,0,255);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: 1s;
}
a#face3 {
    text-decoration: none;
    padding: 8px 30px;
    color: gray;
    background-color: rgba(204,237,0,255);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: 1s;
}
i#face-one {
    font-size: 16px;
    padding: 8px 25px;
    background-color: rgba(204,237,0,255);
    color: gray;
    border-radius: 4px;
    transition: 1s;
}
i#face-two {
    font-size: 16px;
    padding: 8px 25px;
    background-color: rgba(204,237,0,255);
    color: gray;
    border-radius: 4px;
    transition: 1s;
}
i#face-three {
    font-size: 16px;
    padding: 8px 25px;
    background-color: rgba(204,237,0,255);
    color: gray;
    border-radius: 4px;
    transition: 1s;
}

}

@media only screen and (max-width:768px){
    .contrac-form {
        margin: 0;
        padding: 5px;
        display: flex;
        border: none;
        position: sticky;
        top: 0px;
        z-index: 50;
        background-color: white;
        flex-direction: column;
    }
    .logo img {
        height: 40px;
        width: 150px;
        flex-basis: 15%;
        color: rgb(195, 0, 255);
        display: block;
        margin: auto;
    }
    .top {
        display: inline-block;
        background: linear-gradient(160deg,   rgb(0, 0, 0)50%, rgba(46,44,116,255) 50%);
        border-radius: 10px;
        width: 50%;
    }
    .contrac-form {
        margin: 0;
        padding: 5px;
        display: flex;
        border: none;
        position: sticky;
        top: 0px;
        z-index: 50;
        background-color: white;
        flex-direction: column;
        align-items: center;
    }
    .opacity h1 {
        background-color: transparent;
        color: white;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        margin-top: 40px;
        z-index: 15;
    }
    .opacity h2 {
        font-size: 25px;
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 40px;
        z-index: 15;
    }
    .opacity h3 {
        font-size: 20px;
        color: red;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 20px;
        z-index: 15;
    }
    .vedio i {
        font-size: 40px;
        color: white;
        background-color: transparent;
        transition: 1s;
    }
    .vedio-p a {
        margin: 0px 15px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        transition: 1s;
    }
    .opacity::before {
        content: "";
        height: 5px;
        width: 200px;
        background-color: goldenrod;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: 1s;
        z-index: 15;
    }
    .opacity::after {
        content: "";
        height: 200px;
        width: 5px;
        background-color: goldenrod;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;
        z-index: 15;
    }
    .opacty::before {
        content: "";
        height: 5px;
        width: 50px;
        background-color: goldenrod;
        display: block;
        transition: 1s;
    }
    .opacty::after {
        content: "";
        height: 50px;
        width: 5px;
        background-color: goldenrod;
        display: block;
        transition: 1s;
    }


    
.opacty:hover::before{
    width: 300px;
    }
    .opacty:hover::after{
    height: 300px;
    }



    .layer::before {
        content: "";
        height: 5px;
        width: 50px;
        background-color: goldenrod;
        z-index: 20;
        transition: 1s;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .layer::after {
        content: "";
        width: 5px;
        background-color: goldenrod;
        z-index: 20;
        transition: 1s;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    
.layer:hover.layer::before{
    width: 420px;
    
}

.layer:hover.layer::after{
height: 350px;

}
    .opacty h1 {
        margin-top: 15px;
        font-size: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        background-color: transparent;
        color: white;
    }
    .opacty h2 {
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 75px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        background-color: transparent;
        color: coral;
    }
    h1.\35 2 {
        background-color: transparent;
        font-size: 40px;
        color: cornsilk;
    }
    .middle-txt {
        background-color: transparent;
        text-align: left;
        margin: 20px 20px;
        flex-basis: 20%;
    }
    h1.xx {
        background-color: transparent;
        text-align: left;
        background-color: salmon;
        color: white;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 10px 0px;
        font-size: 17px;
    }
    .up-arrow a {
        text-align: center;
        font-size: 20px;
        color: white;
    }
    .project-image h1 {
        color: white;
        background-color: transparent;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-bottom: 4px solid white;
        display: inline-block;
        word-spacing: 12px;
        font-size: 22px;
    }
    .top-content label {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        border: 1px solid black;
        padding: 8px 20px;
        color: black;
        font-weight: 600;
        border-radius: 5px;
        background-color: white;
    }

    .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        margin-top: 60px;
    }
    .right h4 {
        font-size: 20px;
        text-align: center;
        color: red;
        font-family: 'Roboto', sans-serif;
    }
    .right p {
        margin-top: 5px;
        width: 100%;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        word-spacing: 3px;
        line-height: 22px;
    }
    .right ul li {
        list-style: none;
        font-size: 20px;
        margin: 0px 20px;
    }
    .downbtn ul li a {
        font-size: 20px;
        color: white;
    }
    .up-top-menu ul li {
        margin: 0px 10px;
        list-style: none;
        position: relative;
    }
    .up-top-menu ul li a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 12px;
    }
    .up-top-menu ul li ul {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 204, 255);
        padding: 10px 5px;
        height: 450px;
        width: 131px;
        overflow-y: scroll;
        display: none;
        z-index: 55;
    }
    .up-top-menu {
        flex-basis: 85%;
    }
    .up-top-p {
        flex-basis: 15%;
        width: 100%;
        margin: 0px 20px;
    }
    .up-top-menu ul li {
        margin: 0px 25px;
        list-style: none;
        position: relative;
    }

}


@media only screen and (max-width:576px){
    .up-top-menu ul li {
        margin: 0px 10px;
        list-style: none;
        position: relative;
    }
    .up-top-menu ul li a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 10px;
    }
    .up-top-p p {
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 10px;
    }
    .up-top-menu ul li ul {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 204, 255);
        padding: 5px 5px;
        height: 450px;
        width: 110px;
        overflow-y: scroll;
        display: none;
        z-index: 55;
    }
    .up-top-menu ul li ul li a {
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        margin: 0px 3px;
        border-radius: 8px;
        color: black;
    }
    i.fas.fa-check-circle {
        color: rgb(51, 51, 255);
        font-size: 8px;
    }
    .facebook {
        margin: 0 10px;
    }
    a#face1 {
        text-decoration: none;
        padding: 5px 15px;
        color: gray;
        background-color: rgba(204,237,0,255);
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 500;
        transition: 1s;
    }
    a#face2 {
        text-decoration: none;
        padding: 5px 15px;
        color: gray;
        background-color: rgba(204,237,0,255);
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 500;
        transition: 1s;
    }
    a#face3 {
        text-decoration: none;
        padding: 5px 15px;
        color: gray;
        background-color: rgba(204,237,0,255);
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 500;
        transition: 1s;
    }
    i#face-one {
        font-size: 12px;
        padding: 5px 15px;
        background-color: rgba(204,237,0,255);
        color: gray;
        border-radius: 4px;
        transition: 1s;
    }
    i#face-two {
        font-size: 12px;
        padding: 5px 15px;
        background-color: rgba(204,237,0,255);
        color: gray;
        border-radius: 4px;
        transition: 1s;
    }
    i#face-three {
        font-size: 12px;
        padding: 5px 15px;
        background-color: rgba(204,237,0,255);
        color: gray;
        border-radius: 4px;
        transition: 1s;
    }
    .logo img {
        height: 30px;
        width: 120px;
        flex-basis: 15%;
        color: rgb(195, 0, 255);
        display: block;
        margin: auto;
    }
    .opacity h1 {
        background-color: transparent;
        color: white;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        margin-top: 40px;
        z-index: 15;
    }
    .opacity h2 {
        font-size: 20px;
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 40px;
        z-index: 15;
    }
    .next-bg {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
    }
    img.dai-bg {
        height: 200px;
        width: 500px;
    }
    .opacty.dai-op {
        height: 200px;
        width: 500px;
    }
    .total-project {
        background-color: rgba(0,144,161,255);
        border-radius: 5px;
        margin: 0px auto;
        height: 300px;
        margin: 20px 0px;
    }
    
.opacty:hover::before{
    width: 500px;
    }
    .opacty:hover::after{
    height: 200px;
    }

    .progresss-right {
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .progress.cmn {
        display: block;
        background-color: rgba(0,144,161,255);
        border-radius: 5px;
        margin: 10px 10px;
        height: 300px;
        width: 500px;
        /* margin: 0px 30px; */
    }
    .myself {
        display: block;
        background-color: rgba(0,144,161,255);
        border-radius: 5px;
        margin: 10px 0px;
        height: 300px;
        width: 500px;
    }
    .total-project {
        background-color: rgba(0,144,161,255);
        border-radius: 5px;
        margin: 0px auto;
        height: 300px;
        margin: 20px 0px;
        width: 500px;
    }
    .middle-txt {
        background-color: transparent;
        text-align: left;
        margin: 20px 20px;
        flex-basis: 15%;
    }
    .middle-right {
        flex-basis: 85%;
        margin: 50px 60px;
    }
    h1.web {
        background-color: transparent;
        color: salmon;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    p.are {
        margin: 10px 0px;
        color: white;
        line-height: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        width: 100%;
    }
    h1.what {
        background-color: transparent;
        color: salmon;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    p.the {
        margin: 10px 0px;
        color: white;
        line-height: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }
    .project-image h1 {
        color: white;
        background-color: transparent;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-bottom: 4px solid white;
        display: inline-block;
        word-spacing: 12px;
        font-size: 20px;
    }
    .top-content label {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        border: 1px solid black;
        padding: 8px 12px;
        color: black;
        font-weight: 600;
        border-radius: 5px;
        background-color: white;
    }
    .layer::after {
        content: "";
        width: 5px;
        background-color: goldenrod;
        z-index: 20;
        transition: 1s;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    
.layer:hover.layer::before{
    width: 420px;
    
}

.layer:hover.layer::after{
height: 350px;

}


}

@media only screen and (max-width:414px){

  



}